@model  Web.Smartway.Areas.Inventario.Models.InventarioModel
@{
    ViewBag.Title = "Operaciones de Inventario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Styles
    {

    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/plugins/jqGrid/ui.jqgrid.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/jqgrid.extension.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/plugins/jasny/jasny-bootstrap.min.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/plugins/sweetalert/sweetalert.css")" />
    <link rel="stylesheet" type="text/css" media="screen" href="@Url.Content("~/Content/plugins/touchspin/jquery.bootstrap-touchspin.min.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/plugins/chosen/chosen.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/application.css")" />


}
@section scripts
    {
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/app/Inventario/inventario.operaciones.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/plugins/jqGrid/jquery.jqGrid.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/plugins/jqGrid/i18n/grid.locale-es.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/plugins/datapicker/bootstrap-datepicker.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/plugins/jasny/jasny-bootstrap.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/plugins/sweetalert/sweetalert.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/plugins/touchspin/jquery.bootstrap-touchspin.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/plugins/chosen/chosen.jquery.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/plugins/MetroJS/release/MetroJs.Full/MetroJs.js")" type="text/javascript"></script>
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-5">
        <h2>@ViewBag.Title</h2>
        <ol class="breadcrumb">

            <li class="active">
                <strong>Operaciones para almacenes</strong>
            </li>

        </ol>
    </div>
</div>

@using (Ajax.BeginForm("BuscarInventario", "Inventario", new { area = "Inventario" }, new AjaxOptions { HttpMethod = "POST", OnComplete = "OnCompleteTransaction(xhr, status)" }, new { @role = "form", @id = "formInventario", @class = "form-horizontal" }))
{
    <div class="wrapper wrapper-content animated fadeInRight">

        <div class="row ">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5><i class="fa fa-info-circle"></i>  Filtro de búsqueda</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <div class="col-md-4">
                                    <label class="control-label">Sucursal</label>
                                    @Html.DropDownListFor(model => model.idsucursal, (SelectList)ViewData["listasucursal"], "-- Seleccionar --", new { @class = "form-control", @required = "true" })
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label">Almacén</label>
                                    @Html.DropDownListFor(model => model.idalmacen, Enumerable.Empty<SelectListItem>(), "-- Seleccionar --", new { @class = "form-control", @required = "true" })
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label">Producto</label>
                                    @Html.DropDownListFor(model => model.idproducto, (SelectList)ViewData["listaproducto"], "-- Seleccionar --", new { @class = "chosen-select form-control", @required = "true" })
                                </div>


                            </div>
                            <div class="form-group">

                                <div class="col-md-4">
                                    <label class="control-label">Serie</label>
                                    @Html.TextBoxFor(model => model.serie, "", new { @class = "form-control" })
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label">IMEI</label>
                                    @Html.TextBoxFor(model => model.imei, "", new { @class = "form-control" })
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label">Estado</label>
                                    @Html.DropDownListFor(model => model.idestado, (SelectList)ViewData["listasucursal"], "-- Seleccionar --", new { @class = "form-control", @required = "true" })
                                </div>


                            </div>
                            <div class="form-group">
                                <div class="col-md-2 "><button type="button" id='btnBuscar' class="btn btn-line btn-primary"><i class="fa fa-search-plus"></i> Buscar </button></div>

                                <div class="col-md-2">
                                    <button type="button" id='btnExportar' class="btn  btn-block btn-primary"><i class="fa fa-external-link-square"></i> Exportar </button>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>


        <div class="row ">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5><i class="fa fa-info-circle"></i>  Inventario de producto</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>

                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <div class="jqGrid_wrapper col-md-12">
                                    <table id="gridinventario"
                                           data-dataurl="@Url.Action("JsonListarInventario", "Inventario")"></table>
                                    <div id="gridinventariopager"></div>
                                </div>
                            </div>
                            
                           @*<div class="form-group">


        <section class="widget widget-chart-changes">
            <div class="widget-body">
                <div class="chart bg-danger btlr btrr">


                    <p id="s_almacen" class="chart-value"><i class="fa fa-caret-up"></i>  </p>
                    <p class="chart-value-change">Almacén</p>


                    <p id="p_descripcionlarga" class="chart-value"><i class="fa fa-caret-up"></i>  </p>
                    <p class="chart-value-change">Descripción del producto</p>
                    @*<p id="p_codigoproducto" class="chart-value-change"></p>


                        </div>

                                  


                                        <div class="mt">
                                            <div class="row">

                                                <div class="col-xs-3">
                                                    <p id="p_estado" class="h4 no-margin"></p>
                                                    <p class="deemphasize">Estado</p>
                                                </div>
                                                <div class="col-xs-3">
                                                    <p id="p_cantidad" class="h4 no-margin"></p>
                                                    <p class="deemphasize">Cantidad</p>
                                                </div>
                                                <div class="col-xs-3">
                                                    <div class="col-md-2 col-md-offset-6 "><button type="button" id='btnOperacion' class="btn btn-line btn-primary"><i class="fa fa-check"></i> Realizar Operación </button></div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="mt">
                                            <div class="row">

                                                <div class="col-xs-3">
                                                    <p id="p_codigoproducto" class="h4 no-margin"> </p>
                                                    <p class="deemphasize">Código</p>
                                                </div>
                                                <div class="col-xs-3 text-align-right">
                                                    <p id="p_fecharegistro" class="h4 no-margin"> </p>
                                                    <p class="deemphasize">Fecha registro</p>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </section>


                            </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}