@model Web.Smartway.Areas.Reparacion.Models.OrdenTrabajoModel

<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5><i class="fa fa-info-circle"></i>  Información</h5>
        <div class="ibox-tools">
            <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
            </a>
        </div>
    </div>
    <div class="ibox-content">

        <section class="widget widget-card bg-gray">
            <div class="widget-body clearfix">
                
                <div class="row">
                    <div class="bg-gray text-white">
                        <div class="row">
                            <div class="col-md-3">
                                <span class="widget-icon">
                                    <i class="glyphicon glyphicon-briefcase"></i>
                                </span>
                            </div>
                            <div class="col-md-9">
                                <h6 class="no-margin">N° OST</h6>
                                <p class="h2 no-margin fw-normal">@Model.numeroordenservicio </p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <h6 class="no-margin">Cod.</h6>
                                <p class="value6">@Model.codigoproducto</p>
                            </div>
                            <div class="col-md-8">
                                <h6 class="no-margin">Producto</h6>
                                <p class="value6">@Model.producto</p>
                            </div>
                        </div>





                    </div>
                    <div class="carousel-item text-white">
                        <div class="row">


                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <h6 class="no-margin">Inicio</h6>
                                <p class="value5">@Model.fechahorainicio</p>
                            </div>
                            <div class="col-xs-6">
                                <h6 class="no-margin">Tiempo Total</h6>

                                <p class="value5"> @Decimal.Round(Convert.ToDecimal(@Model.tiempotranscurrido.TotalHours), 0) Horas  @Model.tiempotranscurrido.Minutes Minutos </p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item text-white">
                        <div class="row">

                            <div class="col-xs-9">
                                <h6 class="no-margin">Asignado a: </h6>
                                <p class="h2 no-margin fw-normal">@Model.tecnico</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <h6 class="no-margin">Serie</h6>
                                <p class="value6">@Model.serie</p>
                            </div>
                            <div class="col-md-4">
                                <h6 class="no-margin">IMEI</h6>
                                <p class="value6">@Model.imei</p>
                            </div>
                            <div class="col-md-4">
                                <h6 class="no-margin">Bounce</h6>
                                <p class="value6">@Model.bounce</p>
                            </div>
                        </div>

                    </div>
                    <div class="carousel-item text-white">
                        <div class="row">

                            <div class="col-xs-9">
                                <h6 class="no-margin">Falla reportada: </h6>
                                <p class="h2 no-margin fw-normal">@Model.falla</p>
                            </div>
                        </div>

                       

                    </div>
                </div>
                
                
            </div>

           

        </section>

    </div>
</div>