@model Web.Smartway.Areas.Recepcion.Models.DocumentoRecepcionModel

@{
    ViewBag.Title = "Recepción masiva";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Styles
    {

    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/plugins/jqGrid/ui.jqgrid.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/jqgrid.extension.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/plugins/datapicker/datepicker3.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/plugins/jasny/jasny-bootstrap.min.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/plugins/sweetalert/sweetalert.css")" />
    <link rel="stylesheet" type="text/css" media="screen" href="@Url.Content("~/Content/plugins/touchspin/jquery.bootstrap-touchspin.min.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/plugins/chosen/chosen.css")" />
    <link rel="stylesheet" type="text/css" media="screen" href="@Url.Content("~/Content/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/plugins/dataTables/datatables.min.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/application.css")" />
}
@section scripts
    {
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/app/Recepcion/recepcion.recepcionmasiva.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/plugins/jqGrid/jquery.jqGrid.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/plugins/jqGrid/i18n/grid.locale-es.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/plugins/datapicker/bootstrap-datepicker.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/plugins/jasny/jasny-bootstrap.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/plugins/sweetalert/sweetalert.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/plugins/touchspin/jquery.bootstrap-touchspin.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/plugins/chosen/chosen.jquery.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/plugins/dualListBox/jquery.bootstrap-duallistbox.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/messages_es_PE.js")" type="text/javascript"></script>
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>OSR - Recepción Masiva </h2>
        <ol class="breadcrumb"></ol>
    </div>
    <div class="col-lg-2"></div>
</div>


@using (Ajax.BeginForm("guardarIngresoosr", "Recepcion", new { area = "Inventario" }, new AjaxOptions { HttpMethod = "POST", OnComplete = "OnCompleteTransaction(xhr, status)" }, new { @role = "form", @id = "formOrdenIngreso", @class = "form-horizontal" }))
{
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5><i class="fa fa-inbox"></i> Recepción Guia de Remisión </h5>
                    </div>
                    <div class="ibox-content">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <div class="col-md-7">
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            <i class="fa fa-info-circle"></i> Información General
                                        </div>
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label class="control-label">N° Guia</label>
                                                                @Html.TextBoxFor(m => m.guiaremision, new { @placeholder = "N° de Guía", @class = "form-control ImportantText", @required = "true" })

                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label class="control-label">Origen</label>
                                                                @Html.DropDownListFor(model => model.idorigen, (SelectList)ViewData["listaorigen"], "-- Seleccionar --", new { @class = "form-control", @required = "true" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label class="control-label">Producto</label>
                                                                @Html.DropDownListFor(model => model.idproducto, (SelectList)ViewData["listaproducto"], "-- Seleccionar --", new { @class = "chosen-select form-control", @required = "true" })
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label class="control-label">Fabricante</label>
                                                                @Html.DropDownListFor(m => m.idfabricante, (SelectList)ViewData["listafabricante"], "--Todas--", new { @class = "form-control  ", @required = "true", })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label class="control-label">Cliente</label>
                                                                @Html.DropDownListFor(model => model.idcliente, (SelectList)ViewData["listacliente"], "-- Seleccionar --", new { @class = "chosen-select form-control", @required = "true" })
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label class="control-label">Partner</label>
                                                                @Html.DropDownListFor(x => x.idpartner, (SelectList)ViewData["listapartner"], "-- Seleccione --", new { @class = "form-control", @required = "true" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="panel panel-danger">
                                        <div class="panel-heading">
                                            <i class="fa fa-inbox"></i>  Recepción de Documentos
                                        </div>
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <div class="col-md-6">
                                                            <label class="control-label">Sucursal</label>
                                                            @Html.DropDownListFor(model => model.idsucursal, (SelectList)ViewData["listasucursal"], "-- Seleccionar --", new { @class = "form-control", @required = "true" })
                                                        </div>
                                                        <div class="col-md-6">
                                                            <label class="control-label">Almacén</label>
                                                            @Html.DropDownListFor(m => m.idalmacen, Enumerable.Empty<SelectListItem>(), "--Todas--", new { @class = "form-control  ", @required = "true" })
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        @*<div class="col-md-6">
                                                                <label class="control-label">Pallet:</label>
                                                                @Html.TextBoxFor(model => model.pallet, "", new { @class = "form-control" })
                                                            </div>*@
                                                        <div class="col-md-12">
                                                            <br />
                                                            <br />
                                                            <button type="button" id="btnSelectFile" class="btn btn-warning"><i class="fa fa-recycle"></i> Subir Archivo</button>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label">Fecha Recepción</label>
                                                        <div class="col-md-12" id="data_1">
                                                            <div class="input-group date" id='dtpFechInicio'>
                                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                                @Html.TextBoxFor(model => model.fechahorarecepcion, "{0:dd/MM/yyyy}", new { @class = "form-control", @required = "true" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <p class="ImportantMessageBold" id="p_mensaje"></p>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5><i class="fa fa-info-circle"></i>  Detalle de la carga</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>

                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <div class="col-md-2">
                                    <button type="submit" id='btnGuardar' class="btn  btn-line btn-block btn-sm btn-primary"><i class="fa fa-plus"></i> Cargar Productos</button>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="jqGrid_wrapper col-md-12">
                                    <table id="gridcargadetalle"
                                           data-dataurl="@Url.Action("JsonListarDetalleCarga", "Inventario")"></table>
                                    <div id="gridcargadetallepager"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @*@Html.HiddenFor(m => m.idguiaremision)
                @Html.HiddenFor(m => m.tipoDocInterno)
                @Html.HiddenFor(m => m.recepcionFinalizadaAlmacen)
                @Html.HiddenFor(x => x.idguiaremision)*@
            @Html.Hidden("recepcionFinalizadaAlmacen")

        </div>
    </div>
}