@model Web.Smartway.Areas.Agendamiento.Models.IncidenciaModel


<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <ol class="nav navbar-nav">
            
            @if (Model.idincidencia.HasValue)
            {
                <li id="MenuIncidencia">
                <a href="@Url.Action("VerIncidencia", "Agendamiento", new { idincidencia = @Model.idincidencia })">Ver Incidencia</a>
                </li>
            }
            else
            {
                <li id="MenuIncidencia">
                    <a href="@Url.Action("AtencionIncidencia", "Agendamiento", new { idincidencia = @Model.idincidencia })"> Atención Incidencias</a>
                </li>
            }
            @if (Model.idincidencia > 0)
            {
                if (Model.requiereevaluacion) // Cambio/Devolucion
                {
                    if (Model.evaluacionrealizada)
                    {
                        <li id="MenuEvaluacion">
                            <a href="@Url.Action("AtencionEvaluacion", "Evaluacion", new { idincidencia = @Model.idincidencia })">Evaluación de Garantía</a>
                        </li>
                    }
                    else
                    {
                    <li id="MenuEvaluacion">
                        <a href="@Url.Action("AtencionEvaluacion", "Evaluacion", new { idincidencia = @Model.idincidencia })">Evaluación de Garantía <sup class="text-warning fw-semi-bold">Pendiente</sup></a>
                    </li>
                    }
                }
                if (Model.cotizacionrealizada)
                {
                   <li id="MenuCotizar"><a href="@Url.Action("CotizarIncidencia", "Cotizacion", new { idincidencia = @Model.idincidencia })"> Cotización Incidencia</a></li>
                }
                else
                {
                    <li id="MenuCotizar"><a href="@Url.Action("CotizarIncidencia", "Cotizacion", new { idincidencia = @Model.idincidencia })"> Cotización Incidencia <sup class="text-warning fw-semi-bold">Pendiente</sup> </a></li>
                }
                if (Model.idordenserviciotecnico != null)
                {

                    <li id="MenuEstadoFisico"><a href="@Url.Action("EstadoFisico", "Agendamiento", new { idincidencia = @Model.idincidencia })">Estado Físico</a></li>
                }
                else
                {
                    <li id="MenuEstadoFisico"><a href="@Url.Action("EstadoFisico", "Agendamiento", new { idincidencia = @Model.idincidencia })">Estado Físico <sup class="text-warning fw-semi-bold">Pendiente</sup></a></li>
                }

            }
            
        </ol>
        </div>
</nav>
